.wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    opacity: 0.7;
}

h1 {
    margin: 10px;
    font-size: 50px;
    font-weight: bold;
    color: #03473d;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #222;
    font-weight: bold;
}
.header{
    text-align: center;
    text-decoration: none;
    font-size: medium;   
}